@media (max-width: 1000px) {

.short_link {
    display: flex;
    flex-direction: column;
    padding: 0;
    white-space: nowrap;  
    overflow: hidden;    
    text-overflow:ellipsis;
    align-items: start;
    width: 88%;
    

}

.link_copy{
    flex-direction: column;
    padding: 1.2rem;
    align-items: center;
    width: 100%;
}

.link_copy> p {
width: 100%;
padding-left: 1rem;
overflow: hidden;    
text-overflow:ellipsis;
}

.short_link > p {
    padding: 1.2rem;
    border-bottom: 1px solid var(--Gray);
    width: 100%;
    overflow: hidden;    
    text-overflow:ellipsis;

}

.link_copy > button{
    width: 100%;
    margin-top: 1rem;
}


}