.hero_top{
    display: flex;
    padding-top: 3rem;
    width: 100vw;
    background-color: white;
    padding-bottom: 4rem;
}

.hero_top > .content {
    padding-left: 10.5rem;
    padding-right: 8rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_top > .content > h1{
    font-size: 5.3rem;
    line-height: 1.1;
    color: var(--dark_blue);
    letter-spacing: -2px;
}

.hero_top > .content > p{
    font-size: 1.5rem;
    color: hsl(257, 7%, 63%);
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.hero_top > .content > button{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.9rem;
    width: 13rem;
    border: 0px;
    border-radius: 5rem;
    color: white;
    background-color: var(--main_Cyan);
    cursor: pointer;
}

.hero_top > .content > button:hover, button:active{
    background-color: var(--light_Cyan);
}

.hero_top > .image{
   width: 40%;
   position: relative;
   overflow: hidden;
}


.hero_top > .image > img {
    width: 48rem;

}