@media (max-width: 1000px) {
    .hero_top{
        flex-direction: column-reverse;
        text-align: center;
        padding: 0;
    }

    .hero_top > .content {
        width:90%;
        margin: auto;
        padding: 4rem 1rem;
        align-items: center;
    }

    .hero_top > .image {
        width: 100%;
        padding-left: 2rem;

    }

    .hero_top > .image > img {
        width: 35rem;
    }

    .hero_top > .content > h1{
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }

    .hero_top > .content > p{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    
}